<!DOCTYPE html>
<html>

    <head>
        <title>Авторизация</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/authorization-style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script type="text/javascript" src="script/authorization.js"></script>
    </head>

    <body>
        <form name="authorization" id="authorization" ng-app="OrderFlowers">
            <div class="container" ng-controller="AuthorizationController">
                <input class="form-control" placeholder="Ваш логин" name="login" ng-model="login"/>
                <input type="password" class="form-control" placeholder="Ваш пароль" name="password" ng-model="password"/>
                <button type="button" class="btn btn-info" ng-click="authorization.doClick(item, $event)">Войти</button>
                {{authorization.info}}
            </div>
        </form>
    </body>

</html>