<!DOCTYPE>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script type="text/javascript" src="script/authorization.js"></script>
</head>
<body ng-app="OrderFlowers">
<div ng-controller="AuthorizationController">
    Login: <input type="text" ng-model="login"/>
    Password: <input type="text" ng-model="password">
    <button ng-click="authorization.doClick(item, $event)">Enter</button>
    {{authorization.info}}
</div>

</body>
</html>