<div class="contact-search">

    <div class="page-title">
        <h2>Поиск контактов</h2>
        <hr>
    </div>

    <div class="contact-search-information">
        <div class="box" id="snp">
            <h3>ФИО</h3>
            <hr>
            <div class="input-group" id="div-surname">
                <span class="input-group-addon">Фамилия</span>
                <input class="form-control" name="surname" id="surname" ng-model="contact.surname"/>
            </div>

            <div class="input-group" id="div-name">
                <span class="input-group-addon">Имя</span>
                <input class="form-control" name="name" id="name" ng-model="contact.name"/>
            </div>

            <div class="input-group" id="div-patronymic">
                <span class="input-group-addon">Отчество</span>
                <input class="form-control" name="patronymic" id="patronymic" ng-model="contact.patronymic"/>
            </div>
        </div>

        <div class="box" id="dob-range">
            <h3>Диапазон Даты рождения</h3>
            <hr>
            <div class="input-group">
                <span class="input-group-addon">От</span>
                <input type="date" class="form-control" name="dob-lower-range" id="dob-lower-range" ng-model="contact.lowerDateOfBirth"/>
            </div>

            <div class="input-group">
                <span class="input-group-addon">До</span>
                <input type="date" class="form-control" name="dob-upper-range" id="dob-upper-range" ng-model="contact.upperDateOfBirth"/>
            </div>
        </div>

        <div class="box" id="address">
            <h3>Адрес</h3>
            <hr>
            <div class="input-group" id="div-city">
                <span class="input-group-addon">Город</span>
                <input type="text" class="form-control" name="city" id="city" ng-model="contact.city"/>
            </div>

            <div class="input-group" id="div-street">
                <span class="input-group-addon">Улица</span>
                <input type="text" class="form-control" name="street" id="street" ng-model="contact.street"/>
            </div>

            <div class="input-group" id="div-home">
                <span class="input-group-addon">Дом</span>
                <input type="text" class="form-control" name="house" id="home" ng-model="contact.home"/>
            </div>

            <div class="input-group" id="div-flat">
                <span class="input-group-addon">Квартира</span>
                <input type="text" class="form-control" name="flat" id="flat" ng-model="contact.flat"/>
            </div>
        </div>

        <button class="btn btn-primary" ng-click="save.doClick()">Поиск</button>
    </div>
</div>