<script type="text/javascript" src="script/jQuery.js"></script>
<div class="order ui-widget">

    <div class="box">
        <h3>Текущее состояние заказа: <b style="color: red">{{order.russianCurrentState}}</b></h3>
        <div class="input-group" ng-hide="possibleStatesHide">
            <span class="input-group-addon">Изменить состояние</span>
            <select class="form-control" id="new-order-status">
                <option value="">выберите новое состояние заказа</option>
                <option data-ng-repeat="(key, value) in possibleStates" value="{{key}}">{{value}}</option>
            </select>
        </div>
    </div>

    <div class="box">
        <h3>Основная информация</h3>
        <hr>

        <div class="input-group">
            <span class="input-group-addon">Заказчик</span>
            <input class="form-control" id="customer-id" value="{{order.customer.surname}} {{order.customer.name}} {{order.customer.patronymic}}" ng-disabled="disabledOnTheRole"/>
            <input type="hidden" id="customer-hidden-id" ng-model="order.customerID" value="{{order.customer.id}}">
        </div>

        <div class="input-group">
            <span class="input-group-addon">Получатель</span>
            <input class="form-control" id="recipient-id" value="{{order.recipient.surname}} {{order.recipient.name}} {{order.recipient.patronymic}}" ng-disabled="disabledOnTheRole"/>
            <input type="hidden" id="recipient-hidden-id" ng-model="order.recipientID" value="{{order.recipient.id}}">
        </div>

        <div class="input-group">
            <span class="input-group-addon">Сумма</span>
            <input class="form-control" id="sum" value="{{order.sum}}"/>
        </div>
    </div>

    <div class="box">
        <h3>Дополнительная информация</h3>
        <hr>
        <div class="input-group">
            <span class="input-group-addon">Принял заказ</span>
            <input class="form-control" id="receive-manager" disabled value="{{order.receiveManager.surname}} {{order.receiveManager.name}}">
        </div>

        <div class="input-group">
            <span class="input-group-addon">Обрабатывает заказ</span>
            <select class="form-control" id="handler-manager" data-ng-model="handlerManager.id"
                ng-options="c.id as c.surname + ' ' + c.name for c in handlerManagers" ng-disabled="disabledOnTheRole">
            </select>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Доставляет</span>
            <select class="form-control" id="delivery-manager" data-ng-model="deliveryManager.id"
                ng-options="c.id as c.surname + ' ' + c.name for c in deliveryManagers" ng-disabled="disabledOnTheRole">
            </select>
        </div>
    </div>

    <div class="box">
        <h3>Описание</h3>
        <hr>
        <textarea class="form-control" id="order-comment" rows="10" placeholder="Введите описание заказа" >{{order.orderDescription}}</textarea>
    </div>

    <button class="btn btn-primary" id="order-button">Сохранить</button>

    <!--Модальное окно изменения статуса заказа-->
    <div class="modal fade" id="modal-order-status" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    <h4 class="modal-title" id="modal-phone-title">Изменение статуса заказа</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Комментарий</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-info">Изменить</button>
                </div>
            </div>
        </div>
    </div>


</div>