<div class="settings">

    <div class="page-title">
        <h2>Настройки</h2>
        <hr>
    </div>

    <table class="table table-hover">
        <thead>
            <tr class="warning">
                <th>Дата изменения статуса заказа</th>
                <th>Статус заказа</th>
                <th>Заказчик</th>
                <th>Получатель</th>
                <th>Комментарий</th>
            </tr>
        </thead>

        <tr data-ng-repeat="order in orderHistory">
            <td>{{order.date}}</td>
            <td>{{order.russianOrderStatus}}</td>
            <td>{{order.customer.surname}} {{order.customer.name}} {{order.customer.patronymic}}</td>
            <td>{{order.recipient.surname}} {{order.recipient.name}} {{order.recipient.patronymic}}</td>
            <td>{{order.comment}}</td>
        </tr>
    </table>

    <!--постраничная навигация-->
    <div class="page-menu">
        <ul class="pagination">
            <li ng-show="currentPage == 1" class="disabled"><a href="">First</a></li>
            <li ng-show="currentPage == 1" class="disabled"><a href="">&laquo;</a></li>
            <li ng-show="currentPage != 1" ng-class="isFirstDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(1)">First</a></li>
            <li ng-show="currentPage != 1" ng-class="isPrevDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(currentPage-1)">&laquo;</a></li>
            <li ng-repeat="i in range" ng-class="{active : currentPage == i}">
                <a href="javascript:void(0)" ng-click="getRecords.doClick(i)">{{i}}</a>
            </li>
            <li ng-show="currentPage != totalPages" ng-class="isNextDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(currentPage+1)">&raquo;</a></li>
            <li ng-show="currentPage != totalPages" ng-class="isLastDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(totalPages)">Last</a></li>
            <li ng-show="currentPage == totalPages" class="disabled"><a href="">&raquo;</a></li>
            <li ng-show="currentPage == totalPages" class="disabled"><a href="">Last</a></li>
        </ul>
    </div>
</div>