<div class="user-list">

    <button type="button" class="btn btn-danger" ng-click="delete.doClick()"> Удалить</button>

    <table class="table table-hover">
        <thead>
        <tr class="warning">
            <th>&nbsp;</th>
            <th>ФИО</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Редактировать</th>
        </tr>
        </thead>

        <tr data-ng-repeat="user in users">
            <td><input type="checkbox" checklist-model="usersToDelete" checklist-value="user.id"/></td>
            <td>{{user.surname}} {{user.name}} {{user.patronymic}}</td>
            <td>{{user.login}}</td>
            <td>{{user.roleRussian}}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-success"><a href="#userCorrect/{{user.id}}">Редактировать</a></button>
                </div>
            </td>
        </tr>
    </table>

    <!--постраничная навигация-->
    <div class="page-menu">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">2</a></li>
            <li class="disabled"><a href="#">&raquo</a></li>
        </ul>
    </div>
</div>