<div class="user-list">
    <div class="page-title">
        <h2>Список пользователей</h2>
        <hr>
    </div>

    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger" ng-click="delete.doClick()"> Удалить</button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr class="warning">
            <th>&nbsp;</th>
            <th>ФИО</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Редактировать</th>
        </tr>
        </thead>

        <tr data-ng-repeat="user in users">
            <td><input type="checkbox" checklist-model="usersToDelete" checklist-value="user.id"/></td>
            <td>{{user.surname}} {{user.name}} {{user.patronymic}}</td>
            <td>{{user.login}}</td>
            <td>{{user.roleRussian}}</td>
            <td><a class="btn btn-success btn-sm" href="#userCorrect/{{user.id}}">Редактировать</a></td>
        </tr>
    </table>

    <!--постраничная навигация-->
    <div class="page-menu">
        <ul class="pagination">
            <li ng-show="currentPage == 1" class="disabled"><a href="">Первая</a></li>
            <li ng-show="currentPage == 1" class="disabled"><a href="">&laquo;</a></li>
            <li ng-show="currentPage != 1" ng-class="isFirstDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(1)">Первая</a></li>
            <li ng-show="currentPage != 1" ng-class="isPrevDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(currentPage-1)">&laquo;</a></li>
            <li ng-repeat="i in range" ng-class="{active : currentPage == i}">
                <a href="javascript:void(0)" ng-click="getRecords.doClick(i)">{{i}}</a>
            </li>
            <li ng-show="currentPage != totalPages" ng-class="isNextDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(currentPage+1)">&raquo;</a></li>
            <li ng-show="currentPage != totalPages" ng-class="isLastDisabled()"><a href="javascript:void(0)" ng-click="getRecords.doClick(totalPages)">Последняя</a></li>
            <li ng-show="currentPage == totalPages" class="disabled"><a href="">&raquo;</a></li>
            <li ng-show="currentPage == totalPages" class="disabled"><a href="">Последняя</a></li>
        </ul>
    </div>
</div>